<%= render 'progress' %><br>

<%= form_for @camps_registration, url: wizard_path, method: :put do |f| %>
  <%= f.label "Select date of birth:" %><br>
  <%= f.date_field :dob %><br><br>
  <%= f.submit "Save Changes", class: "btn btn-primary" %>
<% end %>
<div class="row">
  <div class="col-sm-2">
    <%= link_to "Back", previous_wizard_path %>
  </div>
  <div class="col-sm-8"></div>
  <div class="col-sm-2">
    <%= link_to 'skip', next_wizard_path %>
  </div>
</div>
