<tr>
  <td><%= camp.id %></td>
  <td><%= camp.location %></td>
  <td><%= link_to 'Show', admin_camp_path(camp) %></td>
  <td><%= link_to 'Edit', edit_admin_camp_path(camp) %></td>
  <td><%= link_to 'Delete', admin_camp_path(camp), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
